--
-- PostgreSQL database dump
--

\restrict LOsI1v5enR33Za0vtgYWOJgfk07ipNUAqAo9WiZuxJoowvyLtvN8mz5OKpdPE1g

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AchievementRarity; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."AchievementRarity" AS ENUM (
    'COMMON',
    'UNCOMMON',
    'RARE',
    'EPIC',
    'LEGENDARY'
);


ALTER TYPE public."AchievementRarity" OWNER TO entropy;

--
-- Name: AchievementType; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."AchievementType" AS ENUM (
    'FIRST_DOUBT',
    'FIRST_COMMENT',
    'PROBLEM_SOLVER',
    'STREAK_MASTER',
    'MENTOR',
    'TOP_CONTRIBUTOR',
    'SUBJECT_EXPERT',
    'COMMUNITY_LEADER',
    'RISING_STAR',
    'KNOWLEDGE_SEEKER'
);


ALTER TYPE public."AchievementType" OWNER TO entropy;

--
-- Name: BadgeType; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."BadgeType" AS ENUM (
    'AI_MASTER',
    'PHYSICS_GURU',
    'MATH_WIZARD',
    'CODE_NINJA',
    'BIO_EXPERT',
    'PROBLEM_SOLVER',
    'HELPER',
    'INNOVATOR',
    'TUTOR',
    'RESEARCH_STAR'
);


ALTER TYPE public."BadgeType" OWNER TO entropy;

--
-- Name: CommunityRole; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."CommunityRole" AS ENUM (
    'ADMIN',
    'MODERATOR',
    'MEMBER'
);


ALTER TYPE public."CommunityRole" OWNER TO entropy;

--
-- Name: LeaderboardPeriod; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."LeaderboardPeriod" AS ENUM (
    'DAILY',
    'WEEKLY',
    'MONTHLY',
    'ALL_TIME'
);


ALTER TYPE public."LeaderboardPeriod" OWNER TO entropy;

--
-- Name: LeaderboardScope; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."LeaderboardScope" AS ENUM (
    'GLOBAL',
    'SUBJECT_CS',
    'SUBJECT_MATH',
    'SUBJECT_PHYSICS',
    'SUBJECT_CHEMISTRY',
    'SUBJECT_BIOLOGY',
    'SUBJECT_ENGINEERING'
);


ALTER TYPE public."LeaderboardScope" OWNER TO entropy;

--
-- Name: PointEventType; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."PointEventType" AS ENUM (
    'DOUBT_CREATED',
    'COMMENT_CREATED',
    'UPVOTE_RECEIVED',
    'DOWNVOTE_RECEIVED',
    'ANSWER_ACCEPTED',
    'DOUBT_RESOLVED',
    'DAILY_LOGIN',
    'STREAK_BONUS',
    'ACHIEVEMENT_UNLOCKED',
    'BADGE_EARNED',
    'CREDITS_REDEEMED'
);


ALTER TYPE public."PointEventType" OWNER TO entropy;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."Role" AS ENUM (
    'STUDENT',
    'TEACHER',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO entropy;

--
-- Name: Subject; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."Subject" AS ENUM (
    'COMPUTER_SCIENCE',
    'MATHEMATICS',
    'PHYSICS',
    'CHEMISTRY',
    'BIOLOGY',
    'ENGINEERING',
    'BUSINESS',
    'LITERATURE',
    'HISTORY',
    'PSYCHOLOGY',
    'OTHER'
);


ALTER TYPE public."Subject" OWNER TO entropy;

--
-- Name: VoteType; Type: TYPE; Schema: public; Owner: entropy
--

CREATE TYPE public."VoteType" AS ENUM (
    'UP',
    'DOWN'
);


ALTER TYPE public."VoteType" OWNER TO entropy;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Account; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public."Account" (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public."Account" OWNER TO entropy;

--
-- Name: VerificationToken; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public."VerificationToken" (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."VerificationToken" OWNER TO entropy;

--
-- Name: achievement_progress; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.achievement_progress (
    id text NOT NULL,
    "userId" text NOT NULL,
    "achievementId" text NOT NULL,
    current integer DEFAULT 0 NOT NULL,
    target integer NOT NULL,
    "daySpan" integer DEFAULT 0 NOT NULL,
    "firstDate" timestamp(3) without time zone,
    last_updated timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "uniqueUsers" text[],
    "validatedCount" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.achievement_progress OWNER TO entropy;

--
-- Name: achievement_unlocks; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.achievement_unlocks (
    id text NOT NULL,
    "userId" text NOT NULL,
    "achievementId" text NOT NULL,
    "unlockedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.achievement_unlocks OWNER TO entropy;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.achievements (
    id text NOT NULL,
    type public."AchievementType" NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    criteria jsonb NOT NULL,
    points integer NOT NULL,
    rarity public."AchievementRarity" NOT NULL,
    icon text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.achievements OWNER TO entropy;

--
-- Name: ai_recommendations; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.ai_recommendations (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.ai_recommendations OWNER TO entropy;

--
-- Name: answer_votes; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.answer_votes (
    id text NOT NULL,
    type public."VoteType" NOT NULL,
    "userId" text NOT NULL,
    "answerId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.answer_votes OWNER TO entropy;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.answers (
    id text NOT NULL,
    content text NOT NULL,
    "doubtId" text NOT NULL,
    "authorId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isAnswered" uuid,
    "isAiAssisted" boolean DEFAULT false NOT NULL,
    downvotes integer DEFAULT 0 NOT NULL,
    "isAccepted" boolean DEFAULT false NOT NULL,
    upvotes integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.answers OWNER TO entropy;

--
-- Name: badge_grants; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.badge_grants (
    id text NOT NULL,
    "userId" text NOT NULL,
    "badgeId" text NOT NULL,
    "grantedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.badge_grants OWNER TO entropy;

--
-- Name: badges; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.badges (
    id text NOT NULL,
    type public."BadgeType" NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    icon text,
    color text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.badges OWNER TO entropy;

--
-- Name: communities; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.communities (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    subject public."Subject",
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.communities OWNER TO entropy;

--
-- Name: community_doubts; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.community_doubts (
    id text NOT NULL,
    "communityId" text NOT NULL,
    "addedBy" text,
    "addedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "doubtId" text NOT NULL
);


ALTER TABLE public.community_doubts OWNER TO entropy;

--
-- Name: community_members; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.community_members (
    id text NOT NULL,
    "userId" text NOT NULL,
    "communityId" text NOT NULL,
    role public."CommunityRole" DEFAULT 'MEMBER'::public."CommunityRole" NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.community_members OWNER TO entropy;

--
-- Name: concepts; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.concepts (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    domain text,
    difficulty integer DEFAULT 1 NOT NULL,
    embedding jsonb,
    synonyms text[],
    keywords text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.concepts OWNER TO entropy;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.conversations (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text,
    context jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sessionType" text DEFAULT 'QA'::text NOT NULL,
    "systemPrompt" text
);


ALTER TABLE public.conversations OWNER TO entropy;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.documents (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    type text DEFAULT 'PDF'::text NOT NULL,
    size integer DEFAULT 0 NOT NULL,
    "pageCount" integer DEFAULT 0 NOT NULL,
    url text,
    "pineconeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.documents OWNER TO entropy;

--
-- Name: doubt_votes; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.doubt_votes (
    id text NOT NULL,
    type public."VoteType" NOT NULL,
    "userId" text NOT NULL,
    "doubtId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.doubt_votes OWNER TO entropy;

--
-- Name: doubts; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.doubts (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    tags text[],
    "isAnonymous" boolean DEFAULT false NOT NULL,
    "authorId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    subject text DEFAULT 'OTHER'::text NOT NULL,
    downvotes integer DEFAULT 0 NOT NULL,
    upvotes integer DEFAULT 0 NOT NULL,
    "isResolved" boolean DEFAULT false NOT NULL,
    "isInCommunity" boolean DEFAULT false NOT NULL,
    views integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.doubts OWNER TO entropy;

--
-- Name: event_logs; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.event_logs (
    id text NOT NULL,
    "eventType" text NOT NULL,
    "userId" text,
    "targetId" text,
    metadata jsonb NOT NULL,
    "emittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "processedAt" timestamp(3) without time zone
);


ALTER TABLE public.event_logs OWNER TO entropy;

--
-- Name: leaderboard_snapshots; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.leaderboard_snapshots (
    id text NOT NULL,
    "userId" text NOT NULL,
    period public."LeaderboardPeriod" NOT NULL,
    scope public."LeaderboardScope" NOT NULL,
    points integer NOT NULL,
    rank integer NOT NULL,
    "periodStart" timestamp(3) without time zone NOT NULL,
    "periodEnd" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.leaderboard_snapshots OWNER TO entropy;

--
-- Name: levels; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.levels (
    id text NOT NULL,
    level integer NOT NULL,
    name text NOT NULL,
    "minPoints" integer NOT NULL,
    "maxPoints" integer,
    icon text,
    color text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.levels OWNER TO entropy;

--
-- Name: mastery_records; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.mastery_records (
    id text NOT NULL,
    "userId" text NOT NULL,
    "conceptId" text NOT NULL,
    "totalAttempts" integer DEFAULT 0 NOT NULL,
    "correctAttempts" integer DEFAULT 0 NOT NULL,
    "masteryScore" double precision DEFAULT 0 NOT NULL,
    "confidenceWeight" double precision DEFAULT 1 NOT NULL,
    "lastSeen" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.mastery_records OWNER TO entropy;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.messages (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    role text NOT NULL,
    content text NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.messages OWNER TO entropy;

--
-- Name: points_ledger; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.points_ledger (
    id text NOT NULL,
    "userId" text NOT NULL,
    "eventType" public."PointEventType" NOT NULL,
    points integer NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "doubtId" text
);


ALTER TABLE public.points_ledger OWNER TO entropy;

--
-- Name: streaks; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.streaks (
    id text NOT NULL,
    "userId" text NOT NULL,
    "currentStreak" integer DEFAULT 0 NOT NULL,
    "longestStreak" integer DEFAULT 0 NOT NULL,
    "lastActivityDate" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.streaks OWNER TO entropy;

--
-- Name: user_discounts; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.user_discounts (
    id text NOT NULL,
    "userId" text NOT NULL,
    "discountPercent" integer NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "unlockedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    source text
);


ALTER TABLE public.user_discounts OWNER TO entropy;

--
-- Name: user_stats; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.user_stats (
    id text NOT NULL,
    "userId" text NOT NULL,
    "totalPoints" integer DEFAULT 0 NOT NULL,
    "currentLevel" integer DEFAULT 1 NOT NULL,
    "doubtsAsked" integer DEFAULT 0 NOT NULL,
    "doubtsResolved" integer DEFAULT 0 NOT NULL,
    "commentsPosted" integer DEFAULT 0 NOT NULL,
    "acceptedAnswers" integer DEFAULT 0 NOT NULL,
    "upvotesReceived" integer DEFAULT 0 NOT NULL,
    "downvotesReceived" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.user_stats OWNER TO entropy;

--
-- Name: users; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.users (
    id text NOT NULL,
    name text,
    email text NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    image text,
    role public."Role" DEFAULT 'STUDENT'::public."Role" NOT NULL,
    bio text,
    university text,
    course text,
    year integer,
    reputation integer DEFAULT 0 NOT NULL,
    credits integer DEFAULT 100 NOT NULL,
    "subscriptionTier" text DEFAULT 'FREE'::text NOT NULL,
    "documentCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "trustScoreCache" double precision DEFAULT 0.5 NOT NULL,
    "isShadowBanned" boolean DEFAULT false NOT NULL,
    "isSuspended" boolean DEFAULT false NOT NULL,
    "leaderboardOptOut" boolean DEFAULT false NOT NULL,
    "lastActiveAt" timestamp(3) without time zone,
    "totalXP" integer DEFAULT 0 NOT NULL,
    "totalReputation" integer DEFAULT 0 NOT NULL,
    tier text DEFAULT 'INITIATE'::text NOT NULL
);


ALTER TABLE public.users OWNER TO entropy;

--
-- Name: xp_ledger; Type: TABLE; Schema: public; Owner: entropy
--

CREATE TABLE public.xp_ledger (
    id text NOT NULL,
    "userId" text NOT NULL,
    "eventType" text NOT NULL,
    "conceptId" text,
    "baseXP" integer NOT NULL,
    "masteryMult" double precision DEFAULT 1.0 NOT NULL,
    "trustMult" double precision DEFAULT 1.0 NOT NULL,
    "factCheckMult" double precision DEFAULT 1.0 NOT NULL,
    "timeDecay" double precision DEFAULT 1.0 NOT NULL,
    "finalXP" integer NOT NULL,
    reason text NOT NULL,
    metadata jsonb,
    flagged boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.xp_ledger OWNER TO entropy;

--
-- Data for Name: Account; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: VerificationToken; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public."VerificationToken" (identifier, token, expires) FROM stdin;
\.


--
-- Data for Name: achievement_progress; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.achievement_progress (id, "userId", "achievementId", current, target, "daySpan", "firstDate", last_updated, "uniqueUsers", "validatedCount") FROM stdin;
\.


--
-- Data for Name: achievement_unlocks; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.achievement_unlocks (id, "userId", "achievementId", "unlockedAt") FROM stdin;
cmmgmu2180013jg3nx6sh3uqq	cmmen0jf20000v31w39n0tumv	cmmgmu2040011jg3naed6x91w	2026-03-07 18:03:54.187
\.


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: ai_recommendations; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.ai_recommendations (id, "userId", type, metadata, "createdAt", content) FROM stdin;
\.


--
-- Data for Name: answer_votes; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.answer_votes (id, type, "userId", "answerId", "createdAt") FROM stdin;
\.


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.answers (id, content, "doubtId", "authorId", "createdAt", "updatedAt", "isAnswered", "isAiAssisted", downvotes, "isAccepted", upvotes) FROM stdin;
\.


--
-- Data for Name: badge_grants; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.badge_grants (id, "userId", "badgeId", "grantedAt") FROM stdin;
\.


--
-- Data for Name: badges; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: communities; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.communities (id, name, description, subject, "isPublic", "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: community_doubts; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.community_doubts (id, "communityId", "addedBy", "addedAt", "doubtId") FROM stdin;
\.


--
-- Data for Name: community_members; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.community_members (id, "userId", "communityId", role, "joinedAt") FROM stdin;
\.


--
-- Data for Name: concepts; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.documents (id, "userId", title, type, size, "pageCount", url, "pineconeId", "createdAt", "updatedAt") FROM stdin;
cmmglit8k0001v3m00apyb9bl	cmmen0jf20000v31w39n0tumv	Sen (2010) Part III__The Materials of Justice (From The Idea of Justice).pdf	PDF	870687	0	\N	\N	2026-03-07 17:27:09.949	2026-03-07 17:27:09.949
\.


--
-- Data for Name: doubt_votes; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.doubt_votes (id, type, "userId", "doubtId", "createdAt") FROM stdin;
\.


--
-- Data for Name: doubts; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.doubts (id, title, content, tags, "isAnonymous", "authorId", "createdAt", "updatedAt", subject, downvotes, upvotes, "isResolved", "isInCommunity", views) FROM stdin;
cmmgc7n4p0001v39gm3q308wm	This is a question about new ai agents	What is the next generation of AI after agentic ai	{AI,Agents}	f	cmmen0jf20000v31w39n0tumv	2026-03-07 13:06:32.276	2026-03-07 13:06:32.276	OTHER	0	0	f	f	0
\.


--
-- Data for Name: event_logs; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: leaderboard_snapshots; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.leaderboard_snapshots (id, "userId", period, scope, points, rank, "periodStart", "periodEnd", "createdAt") FROM stdin;
\.


--
-- Data for Name: levels; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.levels (id, level, name, "minPoints", "maxPoints", icon, color, "createdAt") FROM stdin;
\.


--
-- Data for Name: mastery_records; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: points_ledger; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.points_ledger (id, "userId", "eventType", points, description, "createdAt", "doubtId") FROM stdin;
cmmen0p7o0004v31wac7ygk7m	cmmen0jf20000v31w39n0tumv	DAILY_LOGIN	1	Daily Login Bonus	2026-03-06 08:33:31.813	\N
\.


--
-- Data for Name: streaks; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.streaks (id, "userId", "currentStreak", "longestStreak", "lastActivityDate", "createdAt", "updatedAt") FROM stdin;
cmmen0p940008v31wpji3j46x	cmmen0jf20000v31w39n0tumv	2	2	2026-03-08 00:41:17.977	2026-03-06 08:33:31.864	2026-03-07 19:11:17.981
\.


--
-- Data for Name: user_discounts; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.user_discounts (id, "userId", "discountPercent", "isActive", "unlockedAt", "expiresAt", source) FROM stdin;
\.


--
-- Data for Name: user_stats; Type: TABLE DATA; Schema: public; Owner: entropy
--

COPY public.user_stats (id, "userId", "totalPoints", "currentLevel", "doubtsAsked", "doubtsResolved", "commentsPosted", "acceptedAnswers", "upvotesReceived", "downvotesReceived", "createdAt", "updatedAt") FROM stdin;
cmmen0p7y0006v31w5os5eoax	cmmen0jf20000v31w39n0tumv	1	1	0	0	0	0	0	0	2026-03-06 08:33:31.822	2026-03-06 08:33:31.822
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Data for Name: xp_ledger; Type: TABLE DATA; Schema: public; Owner: entropy
--



--
-- Name: Account Account_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_pkey" PRIMARY KEY (id);


--
-- Name: achievement_progress achievement_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_progress
    ADD CONSTRAINT achievement_progress_pkey PRIMARY KEY (id);


--
-- Name: achievement_unlocks achievement_unlocks_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_unlocks
    ADD CONSTRAINT achievement_unlocks_pkey PRIMARY KEY (id);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: ai_recommendations ai_recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.ai_recommendations
    ADD CONSTRAINT ai_recommendations_pkey PRIMARY KEY (id);


--
-- Name: answer_votes answer_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answer_votes
    ADD CONSTRAINT answer_votes_pkey PRIMARY KEY (id);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: badge_grants badge_grants_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.badge_grants
    ADD CONSTRAINT badge_grants_pkey PRIMARY KEY (id);


--
-- Name: badges badges_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_pkey PRIMARY KEY (id);


--
-- Name: communities communities_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT communities_pkey PRIMARY KEY (id);


--
-- Name: community_doubts community_doubts_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.community_doubts
    ADD CONSTRAINT community_doubts_pkey PRIMARY KEY (id);


--
-- Name: community_members community_members_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT community_members_pkey PRIMARY KEY (id);


--
-- Name: concepts concepts_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.concepts
    ADD CONSTRAINT concepts_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: doubt_votes doubt_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.doubt_votes
    ADD CONSTRAINT doubt_votes_pkey PRIMARY KEY (id);


--
-- Name: doubts doubts_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.doubts
    ADD CONSTRAINT doubts_pkey PRIMARY KEY (id);


--
-- Name: event_logs event_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.event_logs
    ADD CONSTRAINT event_logs_pkey PRIMARY KEY (id);


--
-- Name: leaderboard_snapshots leaderboard_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.leaderboard_snapshots
    ADD CONSTRAINT leaderboard_snapshots_pkey PRIMARY KEY (id);


--
-- Name: levels levels_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.levels
    ADD CONSTRAINT levels_pkey PRIMARY KEY (id);


--
-- Name: mastery_records mastery_records_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.mastery_records
    ADD CONSTRAINT mastery_records_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: points_ledger points_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.points_ledger
    ADD CONSTRAINT points_ledger_pkey PRIMARY KEY (id);


--
-- Name: streaks streaks_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.streaks
    ADD CONSTRAINT streaks_pkey PRIMARY KEY (id);


--
-- Name: user_discounts user_discounts_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT user_discounts_pkey PRIMARY KEY (id);


--
-- Name: user_stats user_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: xp_ledger xp_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.xp_ledger
    ADD CONSTRAINT xp_ledger_pkey PRIMARY KEY (id);


--
-- Name: Account_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON public."Account" USING btree (provider, "providerAccountId");


--
-- Name: VerificationToken_identifier_token_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON public."VerificationToken" USING btree (identifier, token);


--
-- Name: VerificationToken_token_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "VerificationToken_token_key" ON public."VerificationToken" USING btree (token);


--
-- Name: achievement_progress_userId_achievementId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "achievement_progress_userId_achievementId_key" ON public.achievement_progress USING btree ("userId", "achievementId");


--
-- Name: achievement_progress_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "achievement_progress_userId_idx" ON public.achievement_progress USING btree ("userId");


--
-- Name: achievement_unlocks_userId_achievementId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "achievement_unlocks_userId_achievementId_key" ON public.achievement_unlocks USING btree ("userId", "achievementId");


--
-- Name: achievement_unlocks_userId_unlockedAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "achievement_unlocks_userId_unlockedAt_idx" ON public.achievement_unlocks USING btree ("userId", "unlockedAt");


--
-- Name: achievements_name_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX achievements_name_key ON public.achievements USING btree (name);


--
-- Name: ai_recommendations_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "ai_recommendations_userId_idx" ON public.ai_recommendations USING btree ("userId");


--
-- Name: answer_votes_answerId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "answer_votes_answerId_idx" ON public.answer_votes USING btree ("answerId");


--
-- Name: answer_votes_userId_answerId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "answer_votes_userId_answerId_key" ON public.answer_votes USING btree ("userId", "answerId");


--
-- Name: answer_votes_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "answer_votes_userId_idx" ON public.answer_votes USING btree ("userId");


--
-- Name: answers_authorId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "answers_authorId_idx" ON public.answers USING btree ("authorId");


--
-- Name: answers_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "answers_createdAt_idx" ON public.answers USING btree ("createdAt");


--
-- Name: answers_doubtId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "answers_doubtId_idx" ON public.answers USING btree ("doubtId");


--
-- Name: answers_isAnswered_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "answers_isAnswered_key" ON public.answers USING btree ("isAnswered");


--
-- Name: badge_grants_userId_badgeId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "badge_grants_userId_badgeId_key" ON public.badge_grants USING btree ("userId", "badgeId");


--
-- Name: badge_grants_userId_grantedAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "badge_grants_userId_grantedAt_idx" ON public.badge_grants USING btree ("userId", "grantedAt");


--
-- Name: badges_name_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX badges_name_key ON public.badges USING btree (name);


--
-- Name: communities_createdBy_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "communities_createdBy_idx" ON public.communities USING btree ("createdBy");


--
-- Name: communities_isPublic_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "communities_isPublic_idx" ON public.communities USING btree ("isPublic");


--
-- Name: communities_subject_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX communities_subject_idx ON public.communities USING btree (subject);


--
-- Name: community_doubts_communityId_doubtId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "community_doubts_communityId_doubtId_key" ON public.community_doubts USING btree ("communityId", "doubtId");


--
-- Name: community_doubts_communityId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "community_doubts_communityId_idx" ON public.community_doubts USING btree ("communityId");


--
-- Name: community_doubts_doubtId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "community_doubts_doubtId_idx" ON public.community_doubts USING btree ("doubtId");


--
-- Name: community_members_communityId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "community_members_communityId_idx" ON public.community_members USING btree ("communityId");


--
-- Name: community_members_userId_communityId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "community_members_userId_communityId_key" ON public.community_members USING btree ("userId", "communityId");


--
-- Name: community_members_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "community_members_userId_idx" ON public.community_members USING btree ("userId");


--
-- Name: concepts_difficulty_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX concepts_difficulty_idx ON public.concepts USING btree (difficulty);


--
-- Name: concepts_domain_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX concepts_domain_idx ON public.concepts USING btree (domain);


--
-- Name: concepts_isActive_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "concepts_isActive_idx" ON public.concepts USING btree ("isActive");


--
-- Name: concepts_name_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX concepts_name_key ON public.concepts USING btree (name);


--
-- Name: conversations_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "conversations_userId_createdAt_idx" ON public.conversations USING btree ("userId", "createdAt");


--
-- Name: conversations_userId_sessionType_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "conversations_userId_sessionType_idx" ON public.conversations USING btree ("userId", "sessionType");


--
-- Name: documents_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "documents_userId_idx" ON public.documents USING btree ("userId");


--
-- Name: doubt_votes_doubtId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "doubt_votes_doubtId_idx" ON public.doubt_votes USING btree ("doubtId");


--
-- Name: doubt_votes_userId_doubtId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "doubt_votes_userId_doubtId_key" ON public.doubt_votes USING btree ("userId", "doubtId");


--
-- Name: doubt_votes_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "doubt_votes_userId_idx" ON public.doubt_votes USING btree ("userId");


--
-- Name: doubts_authorId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "doubts_authorId_idx" ON public.doubts USING btree ("authorId");


--
-- Name: doubts_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "doubts_createdAt_idx" ON public.doubts USING btree ("createdAt");


--
-- Name: doubts_isInCommunity_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "doubts_isInCommunity_idx" ON public.doubts USING btree ("isInCommunity");


--
-- Name: doubts_subject_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX doubts_subject_idx ON public.doubts USING btree (subject);


--
-- Name: event_logs_eventType_emittedAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "event_logs_eventType_emittedAt_idx" ON public.event_logs USING btree ("eventType", "emittedAt");


--
-- Name: event_logs_processedAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "event_logs_processedAt_idx" ON public.event_logs USING btree ("processedAt");


--
-- Name: event_logs_userId_emittedAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "event_logs_userId_emittedAt_idx" ON public.event_logs USING btree ("userId", "emittedAt");


--
-- Name: leaderboard_snapshots_period_scope_periodStart_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "leaderboard_snapshots_period_scope_periodStart_idx" ON public.leaderboard_snapshots USING btree (period, scope, "periodStart");


--
-- Name: leaderboard_snapshots_period_scope_rank_periodStart_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "leaderboard_snapshots_period_scope_rank_periodStart_idx" ON public.leaderboard_snapshots USING btree (period, scope, rank, "periodStart");


--
-- Name: leaderboard_snapshots_userId_period_scope_periodStart_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "leaderboard_snapshots_userId_period_scope_periodStart_key" ON public.leaderboard_snapshots USING btree ("userId", period, scope, "periodStart");


--
-- Name: levels_level_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX levels_level_key ON public.levels USING btree (level);


--
-- Name: levels_minPoints_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "levels_minPoints_idx" ON public.levels USING btree ("minPoints");


--
-- Name: mastery_records_userId_conceptId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "mastery_records_userId_conceptId_key" ON public.mastery_records USING btree ("userId", "conceptId");


--
-- Name: mastery_records_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "mastery_records_userId_idx" ON public.mastery_records USING btree ("userId");


--
-- Name: messages_conversationId_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "messages_conversationId_createdAt_idx" ON public.messages USING btree ("conversationId", "createdAt");


--
-- Name: points_ledger_eventType_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "points_ledger_eventType_idx" ON public.points_ledger USING btree ("eventType");


--
-- Name: points_ledger_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "points_ledger_userId_createdAt_idx" ON public.points_ledger USING btree ("userId", "createdAt");


--
-- Name: streaks_lastActivityDate_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "streaks_lastActivityDate_idx" ON public.streaks USING btree ("lastActivityDate");


--
-- Name: streaks_userId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "streaks_userId_key" ON public.streaks USING btree ("userId");


--
-- Name: user_discounts_userId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "user_discounts_userId_idx" ON public.user_discounts USING btree ("userId");


--
-- Name: user_stats_currentLevel_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "user_stats_currentLevel_idx" ON public.user_stats USING btree ("currentLevel");


--
-- Name: user_stats_totalPoints_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "user_stats_totalPoints_idx" ON public.user_stats USING btree ("totalPoints");


--
-- Name: user_stats_userId_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX "user_stats_userId_key" ON public.user_stats USING btree ("userId");


--
-- Name: users_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "users_createdAt_idx" ON public.users USING btree ("createdAt");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: entropy
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: xp_ledger_conceptId_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "xp_ledger_conceptId_idx" ON public.xp_ledger USING btree ("conceptId");


--
-- Name: xp_ledger_eventType_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "xp_ledger_eventType_idx" ON public.xp_ledger USING btree ("eventType");


--
-- Name: xp_ledger_flagged_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX xp_ledger_flagged_idx ON public.xp_ledger USING btree (flagged);


--
-- Name: xp_ledger_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: entropy
--

CREATE INDEX "xp_ledger_userId_createdAt_idx" ON public.xp_ledger USING btree ("userId", "createdAt");


--
-- Name: Account Account_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public."Account"
    ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: achievement_progress achievement_progress_achievementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_progress
    ADD CONSTRAINT "achievement_progress_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES public.achievements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: achievement_progress achievement_progress_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_progress
    ADD CONSTRAINT "achievement_progress_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: achievement_unlocks achievement_unlocks_achievementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_unlocks
    ADD CONSTRAINT "achievement_unlocks_achievementId_fkey" FOREIGN KEY ("achievementId") REFERENCES public.achievements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: achievement_unlocks achievement_unlocks_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.achievement_unlocks
    ADD CONSTRAINT "achievement_unlocks_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ai_recommendations ai_recommendations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.ai_recommendations
    ADD CONSTRAINT "ai_recommendations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answer_votes answer_votes_answerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answer_votes
    ADD CONSTRAINT "answer_votes_answerId_fkey" FOREIGN KEY ("answerId") REFERENCES public.answers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answer_votes answer_votes_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answer_votes
    ADD CONSTRAINT "answer_votes_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answers answers_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "answers_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: answers answers_doubtId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT "answers_doubtId_fkey" FOREIGN KEY ("doubtId") REFERENCES public.doubts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: badge_grants badge_grants_badgeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.badge_grants
    ADD CONSTRAINT "badge_grants_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES public.badges(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: badge_grants badge_grants_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.badge_grants
    ADD CONSTRAINT "badge_grants_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: communities communities_createdBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.communities
    ADD CONSTRAINT "communities_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: community_doubts community_doubts_addedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.community_doubts
    ADD CONSTRAINT "community_doubts_addedBy_fkey" FOREIGN KEY ("addedBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: community_doubts community_doubts_doubtId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.community_doubts
    ADD CONSTRAINT "community_doubts_doubtId_fkey" FOREIGN KEY ("doubtId") REFERENCES public.doubts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: community_members community_members_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.community_members
    ADD CONSTRAINT "community_members_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: conversations conversations_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "conversations_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: documents documents_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT "documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: doubt_votes doubt_votes_doubtId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.doubt_votes
    ADD CONSTRAINT "doubt_votes_doubtId_fkey" FOREIGN KEY ("doubtId") REFERENCES public.doubts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: doubt_votes doubt_votes_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.doubt_votes
    ADD CONSTRAINT "doubt_votes_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: doubts doubts_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.doubts
    ADD CONSTRAINT "doubts_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: leaderboard_snapshots leaderboard_snapshots_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.leaderboard_snapshots
    ADD CONSTRAINT "leaderboard_snapshots_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: mastery_records mastery_records_conceptId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.mastery_records
    ADD CONSTRAINT "mastery_records_conceptId_fkey" FOREIGN KEY ("conceptId") REFERENCES public.concepts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: messages messages_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public.conversations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: points_ledger points_ledger_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.points_ledger
    ADD CONSTRAINT "points_ledger_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: streaks streaks_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.streaks
    ADD CONSTRAINT "streaks_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_discounts user_discounts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.user_discounts
    ADD CONSTRAINT "user_discounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_stats user_stats_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: entropy
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT "user_stats_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict LOsI1v5enR33Za0vtgYWOJgfk07ipNUAqAo9WiZuxJoowvyLtvN8mz5OKpdPE1g

